<!-- Breadcrumb Start -->
<div
    class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
>
    <h2 class="text-title-md2 font-bold text-black dark:text-white">
    Incidents
    </h2>

    <nav>
    <ol class="flex items-center gap-2">
        <li>
        <a class="font-medium" href="/dashboard">Dashboard /</a>
        </li>
        <li class="font-medium text-primary">Incidents</li>
    </ol>
    </nav>
</div>
<!-- Breadcrumb End -->

<!-- ====== Table Section Start -->
<div class="flex flex-col gap-10">
    <!-- ====== Table Three Start -->
    <div
        class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
    >
    <div>
        <label
          class="mb-3 block text-sm font-medium text-black dark:text-white"
        >
          Filtrer par statut
        </label>
        <div
          x-data="{ isOptionSelected: false }"
          class="relative z-20 bg-white dark:bg-form-input"
        >
          <select
            id="select-status"
            onchange="
                var value = document.getElementById('select-status').value;
                var incidentRows = document.querySelectorAll(`.incident-row`);
                incidentRows.forEach(incidentRow => {
                    incidentRow.classList.remove('hide');
                });
                if (value !== 'tout') {
                    var selectedIncidentRows = document.querySelectorAll(`tr:not(.${value}).incident-row`);
                    selectedIncidentRows.forEach(selectedIncidentRow => {
                        selectedIncidentRow.classList.add('hide');
                    });
                }
            "
            class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent px-12 py-3 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input"
            :class="isOptionSelected && 'text-black dark:text-white'"
            @change="isOptionSelected = true"
          >

            <option value="attente" class="text-body">En attente</option>
            <option value="tout" class="text-body">Tout</option>
            <option value="resolu" class="text-body">Résolu</option>
            <option value="cours" class="text-body">En cours</option>
          </select>
          <span
            class="absolute right-4 top-1/2 z-10 -translate-y-1/2"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.8">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z"
                  fill="#637381"
                ></path>
              </g>
            </svg>
          </span>
        </div>
      </div>
        <div class="max-w-full overflow-x-auto">
        <table class="w-full table-auto">
            <thead>
            <tr class="bg-gray-2 text-left dark:bg-meta-4">
                <th
                class="min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                >
                Signaleur
                </th>
                <th
                class="min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                >
                Description
                </th>
                <th
                class="min-w-[150px] px-4 py-4 font-medium text-black dark:text-white"
                >
                Date
                </th>
                <th
                class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white"
                >
                Informations supplémentaires
                </th>
                <th
                class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white"
                >
                Statut
                </th>
                <th class="px-4 py-4 font-medium text-black dark:text-white">
                Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <% incidents.forEach(incident => { %>
                <tr class="
                <% if (incident.status == 'En attente') { %>
                    attente
                <% } else if (incident.status == 'En cours') {%>
                    cours
                <% } else {%>
                    resolu
                <% } %>
                incident-row">
                    <td
                    class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                    >
                        <h5 class="font-medium text-black dark:text-white"><%= incident.user.lastName %> <%= incident.user.firstName %></h5>
                    </td>
                    <td
                    class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                    >
                        <h5 class="font-medium text-black dark:text-white"><p class="description"><%= incident.description.toString().substring(0,20) %></p><p class="more-description"><%= incident.description %></p></h5>
                    </td>
                    <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                        <p class="text-black dark:text-white"><%= incident.createdAt.toDateString() %></p>
                    </td>
                    <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                        <div class="flex items-center space-x-3.5">
                            <svg
                                <% if (incident.audio) { %>
                                    onclick="
                                        window.open('/uploads/files/<%= incident.audio %>', '_blank').focus();
                                    "
                                <% } %> 
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hover:text-primary" style="cursor: pointer;">
                                <path d="M8.25 4.5a3.75 3.75 0 1 1 7.5 0v8.25a3.75 3.75 0 1 1-7.5 0V4.5Z" />
                                <path d="M6 10.5a.75.75 0 0 1 .75.75v1.5a5.25 5.25 0 1 0 10.5 0v-1.5a.75.75 0 0 1 1.5 0v1.5a6.751 6.751 0 0 1-6 6.709v2.291h3a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1 0-1.5h3v-2.291a6.751 6.751 0 0 1-6-6.709v-1.5A.75.75 0 0 1 6 10.5Z" />
                            </svg>
                            <svg
                                <% if (incident.video) { %>
                                    onclick="
                                        window.open('/uploads/files/<%= incident.video %>', '_blank').focus();
                                    "
                                <% } %>
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hover:text-primary" style="cursor: pointer;">
                                <path d="M4.5 4.5a3 3 0 0 0-3 3v9a3 3 0 0 0 3 3h8.25a3 3 0 0 0 3-3v-9a3 3 0 0 0-3-3H4.5ZM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06Z" />
                            </svg>
                            <svg
                                <% if (incident.picture) { %>
                                    onclick="
                                        window.open('/uploads/files/<%= incident.picture %>', '_blank').focus();
                                    "
                                <% } %>
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hover:text-primary" style="cursor: pointer;">
                                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hover:text-primary" style="cursor: pointer;">
                                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </td>
                    <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                        <p
                            class="inline-flex rounded-full bg-opacity-10 px-3 py-1 text-sm font-medium
                            <% if (incident.status == 'En attente') { %>
                                bg-danger text-danger
                            <% } else if (incident.status == 'En cours') {%>
                                bg-warning text-warning
                            <% } else {%>
                                bg-success text-success
                            <% } %>
                            "
                        >
                            <%= incident.status %>
                        </p>
                    </td>
                    <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                        <div class="flex items-center space-x-2.5">
                            <% if (incident.status == 'En attente') { %>
                                <svg onclick="document.getElementById('accept-form').submit()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hover:text-primary" style="cursor: pointer;">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                                </svg>
                                <form id="accept-form" action="<%= "/incidents/handle/" + incident.id %>" method="post" class="hidden">
                                    <input type="number" name="isHandled" value=1>
                                </form>
                                <svg onclick="document.getElementById('reject-form').submit()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hover:text-danger" style="cursor: pointer;">
                                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
                                </svg>
                                <form id="reject-form" action="<%= "/incidents/handle/" + incident.id %>" method="post" class="hidden">
                                    <input type="number" name="isHandled" value=0>
                                </form>
                            <% } else if (incident.status == 'En cours') { %>
                            <svg onclick="document.getElementById('resolve-form').submit()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 hover:text-primary" style="cursor: pointer;">
                                <path fill-rule="evenodd" d="M8.5 1.709a.75.75 0 0 0-1 0 8.963 8.963 0 0 1-4.84 2.217.75.75 0 0 0-.654.72 10.499 10.499 0 0 0 5.647 9.672.75.75 0 0 0 .694-.001 10.499 10.499 0 0 0 5.647-9.672.75.75 0 0 0-.654-.719A8.963 8.963 0 0 1 8.5 1.71Zm2.34 5.504a.75.75 0 0 0-1.18-.926L7.394 9.17l-1.156-.99a.75.75 0 1 0-.976 1.138l1.75 1.5a.75.75 0 0 0 1.078-.106l2.75-3.5Z" clip-rule="evenodd" />
                            </svg>
                            <form id="resolve-form" action="<%= "/incidents/handle/" + incident.id %>" method="post" class="hidden">
                                <input type="number" name="isHandled" value=2>
                            </form>
                            <% } %>
                        </div>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        </div>
    </div>
  
<!-- ====== Table Three End -->
</div>
<!-- ====== Table Section End -->